# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/

# Training / experiment outputs
tmp/
outputs/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
